.EditNewPacientPage{
    height: 100%;
    max-width: 400px;
}

.EditNewPacientPage .NewPacientPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditNewPacientPage .NewPacientPageContent .Option{
    margin-bottom: 25px;
}