.PageHeader {
    height: 206px;
    width: 100%;
    background-color: #5845ED;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    line-height: 27px;
}

.PageHeader > .breadcrumb{
  font-size: 18px;
  max-width: 400px;
  margin: 0 auto;
  padding: 24px 24px 0px 24px;
}

.PageHeader .breadcrumb a{
  color: #FFFFFF;
}

.PageHeader > .title{
    padding: 85px 10px 20px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    font-size: 20px;
}

.PageHeader > .icon{
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  height: 71px;
}