.NewPacientPage{
    height: 100%;
}

.NewPacientPage .NewPacientPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewPacientPage .NewPacientPageContent .Option{
    margin-bottom: 25px;
}